<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta name="current-url" content="{{.URL}}">
      <title>Document</title>
      <link rel="stylesheet" href="out.css">
   </head>
   <body>
      <div class="border text-card-foreground max-w-md mx-auto mt-10 p-4 bg-white shadow-md rounded-md" data-v0-t="card">
        <h1 class="text-xl font-semibold">{{.Title}}</h1>
        <form class="p-6" action="{{.Action}}" method="get">
            <div class="relative w-64">
                <input id="input" type="text" placeholder="Type to search..." name="value"
                       class="w-full px-3 py-2 border border-gray-300 rounded-md focus:outline-none focus:ring focus:border-blue-300">
                <div id="results" class="absolute w-full mt-1 bg-white border border-gray-300 rounded-md shadow-lg hidden"></div>
            </div>
            <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded mt-4 w-full" type="submit">
                Search
            </button>
        </form>
      </div>
    <script type="module" src="mod.js"></script>
   </body>
</html>
